<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="invt.dao.DebtPackageDao" >
  <resultMap id="BaseResultMap" type="invt.model.po.DebtPackage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="dp_repayment_time" property="dpRepaymentTime" jdbcType="DATE" />
    <result column="bo_expect" property="boExpect" jdbcType="INTEGER" />
    <result column="dp_amount" property="dpAmount" jdbcType="INTEGER" />
    <result column="dp_new_amount" property="dpNewAmount" jdbcType="INTEGER" />
    <result column="dp_number" property="dpNumber" jdbcType="INTEGER" />
    <result column="dp_type" property="dpType" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dp_repayment_time, bo_expect, dp_amount, dp_new_amount, dp_number, dp_type, version, 
    create_time, update_time
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from debt_package
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insert" parameterType="invt.model.po.DebtPackage" >
    insert into debt_package (id, dp_repayment_time, bo_expect, 
      dp_amount, dp_new_amount, dp_number, 
      dp_type, version, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{dpRepaymentTime,jdbcType=DATE}, #{boExpect,jdbcType=INTEGER}, 
      #{dpAmount,jdbcType=INTEGER}, #{dpNewAmount,jdbcType=INTEGER}, #{dpNumber,jdbcType=INTEGER}, 
      #{dpType,jdbcType=INTEGER},1,now(),now())
  </insert>

  <update id="updateById" parameterType="invt.model.po.DebtPackage" >
    update debt_package
    set dp_repayment_time = #{dpRepaymentTime,jdbcType=DATE},
      bo_expect = #{boExpect,jdbcType=INTEGER},
      dp_amount = #{dpAmount,jdbcType=INTEGER},
      dp_new_amount = #{dpNewAmount,jdbcType=INTEGER},
      dp_number = #{dpNumber,jdbcType=INTEGER},
      dp_type = #{dpType,jdbcType=INTEGER},
      version = version+1,
      update_time = now()
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>