<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="invt.dao.local.InvtAccProofDao">
  <resultMap id="BaseResultMap" type="invt.model.po.InvtAccProof">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="trd_order_id" jdbcType="VARCHAR" property="trdOrderId" />
    <result column="proof_id" jdbcType="VARCHAR" property="proofId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="va_id" jdbcType="BIGINT" property="vaId" />
    <result column="trade_type" jdbcType="VARCHAR" property="tradeType" />
    <result column="to_user_id" jdbcType="BIGINT" property="toUserId" />
    <result column="to_va_id" jdbcType="BIGINT" property="toVaId" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, trd_order_id, proof_id, user_id, va_id, trade_type, to_user_id, to_va_id, amount, `status`,
    version, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from invt_acc_proof
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from invt_acc_proof
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="invt.model.po.InvtAccProof">
    insert into invt_acc_proof (id, trd_order_id, proof_id,
    user_id, va_id, trade_type,
    to_user_id, to_va_id, amount, `status`
    )
    values (#{id,jdbcType=BIGINT}, #{trdOrderId,jdbcType=VARCHAR}, #{proofId,jdbcType=VARCHAR},
    #{userId,jdbcType=BIGINT}, #{vaId,jdbcType=BIGINT}, #{tradeType,jdbcType=VARCHAR},
    #{toUserId,jdbcType=BIGINT}, #{toVaId,jdbcType=BIGINT}, #{amount,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}}
    )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="invt.model.po.InvtAccProof">
    insert into invt_acc_proof
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="trdOrderId != null">
        trd_order_id,
      </if>
      <if test="proofId != null">
        proof_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="vaId != null">
        va_id,
      </if>
      <if test="tradeType != null">
        trade_type,
      </if>
      <if test="toUserId != null">
        to_user_id,
      </if>
      <if test="toVaId != null">
        to_va_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="trdOrderId != null">
        #{trdOrderId,jdbcType=VARCHAR},
      </if>
      <if test="proofId != null">
        #{proofId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="vaId != null">
        #{vaId,jdbcType=BIGINT},
      </if>
      <if test="tradeType != null">
        #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="toUserId != null">
        #{toUserId,jdbcType=BIGINT},
      </if>
      <if test="toVaId != null">
        #{toVaId,jdbcType=BIGINT},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="invt.model.po.InvtAccProof">
    update invt_acc_proof
    <set>
      <if test="trdOrderId != null">
        trd_order_id = #{trdOrderId,jdbcType=VARCHAR},
      </if>
      <if test="proofId != null">
        proof_id = #{proofId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="vaId != null">
        va_id = #{vaId,jdbcType=BIGINT},
      </if>
      <if test="tradeType != null">
        trade_type = #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="toUserId != null">
        to_user_id = #{toUserId,jdbcType=BIGINT},
      </if>
      <if test="toVaId != null">
        to_va_id = #{toVaId,jdbcType=BIGINT},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="invt.model.po.InvtAccProof">
    update invt_acc_proof
    set trd_order_id = #{trdOrderId,jdbcType=VARCHAR},
      proof_id = #{proofId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      va_id = #{vaId,jdbcType=BIGINT},
      trade_type = #{tradeType,jdbcType=VARCHAR},
      to_user_id = #{toUserId,jdbcType=BIGINT},
      to_va_id = #{toVaId,jdbcType=BIGINT},
      amount = #{amount,jdbcType=DECIMAL},
      `status` = #{status,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>